<div class="row">
	<div class="col-md-12">
		<h1>Editar el Tipo de Couch: <%= @type.name %></h1>
	</div>    
</div>

<div class="row">
	<div class="col-md-12">
		<%= render 'form' %>
	</div>    
</div>		
		
<div class="row">
	<div class="col-md-12">
		<%= link_to 'Show', @type %> |
		<%= link_to 'Back', types_path %>
	</div>
</div>
