<footer class="footer">
	<nav class="navbar navbar-inverse" role="navigation" id="footer">
    	<div class="container-fluid">
			<h3 class="navbar-text">Desarrollado por</h3> <%= image_tag( "los.png", height: '74', width: '319')%>
		</div>
	</nav>
</footer>